.buttonsContainer {
    max-width: 270px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.editableSpanContainer {
    max-width: 270px;
    width: 100%;
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: start;*/
    margin-bottom: 22px;
}