.button {
    border-radius: 3px;
    padding: 5px 0;
    width: 129px;
    height: 30px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 143%;
    color: #fff;
    border: none;
    cursor: pointer;


}

.disabled {
    background: #004d99;
    opacity: 0.5;
}

.secondary {
    border: 1px solid #06c;
    border-radius: 3px;
    padding: 5px 0;
    width: 119px;
    height: 30px;

    font-weight: 600;
    font-size: 14px;
    line-height: 143%;
    color: #06c;
}

.default {
    background: #06c;
}

.red {
    background: #cc1439;
}

.default:hover {

}

.red:hover {
    width: 176px;
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
